.job-requirement-other-details {
    background: #F5F5F5;
    border-radius: 8px;
}
.submit-your-application-for-job {
    margin-top: 30px;
    margin-bottom: 30px;
}
.submit-your-application-for-job button {
    margin-bottom: 40px;
}
.job-requirement-other-details {
    padding: 15px;
}
.apply-for-job-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
}